@charset "Utf-8";

:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #0e0e1c;
    --white: #ffff;
    --border: 0.1rem solid rgba(255,255,255,0.3);
    font-size: 12px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Playfair Display", serif;
}

body {
    background-color: var(--bg);
    outline: 2px dotted white;
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
    outline: 2px dotted white;
}

.header {
    position: fixed ;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-color: var(--bg);
    outline: 2px dotted white;
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    outline: 2px dotted white;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.4rem;
    color: #ffff;
    outline: 2px dotted white;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 1.6rem;
    outline: 2px dotted white;
}

.icons img {
    margin:1rem;
    cursor: pointer;
    outline: 2px dotted white;
}

.icons img:hover {
    width: 40px;
    height: 40px;
    outline: 2px dotted white;
}

.btn {
    background-color: var(--main-color);
    color: var(--black);
    cursor: pointer;
    font-size: 1.7rem;
    margin-top: 1rem;
    outline: 2px dotted white;
}

.home-container {
  background-image: url("imagens/projetocoffe.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  outline: 2px dotted white;

  width: 100vw;
  height: 100vh;
}

.home-container section {
    display: flex;
    align-items: center;
    min-height: 100vh;
    outline: 2px dotted white;
}

.content {
    max-width: 60rem;
    outline: 2px dotted white;
}

.content h3 {
    color: var(--white);
    font-size: 5rem;
    outline: 2px dotted white;
}

.content p {
    background-color: var(--bg);
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 200;
    line-height: 1.6;
    outline: 2px dotted white;
}

.title {
    font-size: 3rem;
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    outline: 2px dotted white;
}

.title span {
    color: var(--white);
    text-transform: uppercase;
    outline: 2px dotted white;
}

.container-image img {
    height: 500px;
    width: 500px;
    outline: 2px dotted white;
}

.about .row {
    display: flex;
    align-items: center;
    background-color: var(--black);
    gap: 2rem;
    outline: 2px dotted white;
}

.about .row .content {
    
}